
/* MEDIA QUERRIES STARTS */
@media screen and (max-width:1110px) {
    .grid-wrap .box::after{
        font-size: 14px;
    }
    .swiper-button-next{
        top: 70%;
    }
    .swiper-button-prev{
        top: 80%;
        left: 96.5%;
    }
}
@media screen and (max-width:1080px){
    .founder-box{
        width: 14.5vw;
        height: 50vh;
        font-size: .85rem;
    }
}

@media screen and (max-width:1000px) {
    .grid-wrap .box::after{
        font-size: 12px;
    }
    .swiper-button-next{
        top: 70%;
    }
    .swiper-button-prev{
        top: 80%;
        left: 96%;
    }
}

@media screen and (max-width:940px){
    .founder-box{
        width: 13.5vw;
        height: 43vh;
        font-size: .7rem;
    }
}
@media screen and (max-width:900px) {
    .grid-wrap .box::after{
        font-size: 10px;
    }
    .swiper-button-next{
        top: 70%;
    }
    .swiper-button-prev{
        top: 80%;
        left: 95.5%;
    }
}

@media screen and (max-width:812px){

    .founder{
        height: 80vh;
    }
    .founder-box{
        width: 12.5vw;
        height: 37vh;
        font-size: .6rem;
    }
}

@media screen and (max-width: 768px){
    #navbar .join{
        display: none;
    }
    .autoImageContainer img{
        width: 100%;
        object-fit: cover;
    }
    .layer{
        width: 100%;
        left: 0;
        box-shadow: 0px 0px 35px 20px #000 inset;
    }
    .info{
        width: 70%;
        position: absolute;
        left: 5%;
        font-size: 2.2vw;
        font-weight: 700;
    }
    .swiper-button-next{
        top: 70%;
        left: 92%;
    }
    .swiper-button-prev{
        top: 80%;
        left: 92%;
       
    }
    .info button{
        font-size: 1.1vw;
    }
    .cardBox img{
        height: 15vh;
    }
    .top-container{
        flex-direction: column;
    }
    .founder h1{
        font-size: 3rem;
    }
    .grid-wrap .box::after{
        font-size: 8px;
    }
    .grid-wrap{
        height: 45%;
    }
    .worksContainer{
        flex-direction: column;
        overflow: visible;
    }
    .arrowBox{
        display: none;
    }
    .message{
        bottom: -435%;
    }
    .swiper-button-next{
        top: 73%;
    }
    .swiper-button-prev{
        top: 80%;
    }
    .next-btn2 , .prev-btn2{
        width: 1.9rem;
        height: 1.9rem;
    }
    .next-btn2:before , .prev-btn2:before{
        font-size: 3vw;
    }
    .cardBox{
        font-size: 1.6vw;
    }
    .ytInfo{
        font-size: 1.5vw;
    }
    .founder{
        height: 95vh;
    }
    .founder-wrapper{
        flex-direction: column;
        gap: 0.9rem;
    }

    .founder-box{
        width: 18vw;
        height: 35vh;
        font-size: .60rem;
    }
}

@media screen and (max-width: 600px ){
    .wrap1{
        display: flex;
        flex-direction: column;
    }
    .founder h1{
        font-size: 2.5rem;
    }
    .grid-wrap .box::after{
        font-size: 6.5px;
    }
    .grid-wrap{
        height: 35%;
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;

    }
    .page1{
        height: 50vh;
    }
    .swiper-button-next{
        top: 40%;
        display: none;
    }
    .swiper-button-prev{
        top: 46.5%;
        display: none;
    }
    .page1 .swiper-pagination{
        display: flex;
        gap: .5rem;
        align-items: flex-end;
        flex-direction: column;
        justify-content:flex-start;
        position: absolute;
        top: 36%;
        padding: 1rem;
        color: var(--extra-color);
    }
    .swiper-pagination-bullet-active{
        background-color: var(--extra-color);
    }
    .swiper-pagination-bullet{
        border: 1px solid white;
        width: 10px;
        height: 10px;
    }
    .categories .cardBox{
        font-size: 2vw;
        font-weight: 900;
        height: 47vh;
    }
    .next-btn2 , .prev-btn2{
        width: 1.4rem;
        height: 1.4rem;
    }
    .next-btn2{
        right: 43%
    }
    .next-btn2:before , .prev-btn2:before{
        font-size: 3vw;
    }
    .ytBox{
        height: 42vh;
    }
    .ytInfo{
        font-size: 1.4vw;
        font-weight: 800;

    }
    .message{
        height: 40vh;
        font-size: 2.3vw;
        gap: 1rem;
    }
    .message-box{
        width: 45%;
    }

    
}

@media screen and (max-width:515px){

    .footer{
        justify-content: center;
    }
    .footer1,.footer2,.footer3{
        width: 90%;
        padding: 0rem;
    }

    .footer2{
        border-bottom: 1px dashed var(--extra-color);
        border-left: none;
        border-right: none;
        border-top: 1px dashed var(--extra-color);
        padding: 0rem;
    }

    .footer ul{
        padding: 1rem;
    }

    .founder-box{
        width: 16vw;
        height: 33vh;
        font-size: .5rem;
    }

}

@media screen and (max-width:420px){
    .works h1{
        font-size:7.5vw;
    }
     .footer1{
        font-size: 2.5vw;
    }
    .footer1 .fa-brands{
        font-size: 3.4vw;
        padding: .7rem;
    }
    .footer ul{
        font-size: 4.5vw;
    }
    .autoImageContainer .info{
        font-size: 2.5vw;
        font-weight: 900;
    }
   
    .categories .cardBox{
        font-size: 2.7vw;
        font-weight: 900;
    }
    .message-box{
        width: 55%;
    }
    .founder-box1,.founder-box2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .founder-box{
        width: 45vw;
        height: 40vh;
        font-size: .8rem;
    }
    .founder{
        height: 100vh;
        overflow-y:auto;
    }

    .founder h1{
        font-size: 2rem;
    }
}

@media screen and (min-height:800px){
    .cardBox{
        height: 33vh;
    }
    .ytBox{
        height: 33vh;
    }
}


/* MEDIA QUERRIES ENDS */
